# Build directories
/build/
/build-*/

/# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
install_manifest.txt

# Visual Studio Code
.vscode/

# Executables and libraries
*.exe
*.out
*.app
*.lib
*.a
*.so
*.dylib
*.dll

# Compilation databases
compile_commands.json

# Logs and debugging
*.log
*.gch
*.pch
*.swp
*.swo
*.bak
core

# OS-specific
.DS_Store
Thumbs.db

# Ninja build
.ninja_deps
.ninja_log
build.ninja
rules.ninja

# Qt specific
moc_*
qrc_*
ui_*

# CLion or JetBrains IDEs
.idea/
cmake-build-*/

# Testing
Testing/
CTestTestfile.cmake
DartConfiguration.tcl

# Conan / vcpkg package managers
conan.lock
conanbuildinfo.*
conaninfo.*
.vcpkg/
vcpkg_installed/

# Other
*.cache
*.tmp